.pokelist__container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px 50px;
  justify-content: center;
  padding-top: 20px;
}

@media screen and (max-width: 420px) {
  .pokelist__container {
    grid-template-columns: auto auto;
    gap: 20px;
  }
}
