.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(58, 58, 58);
}
.navbar__icon {
  object-fit: contain;
  width: 25px;
  margin-right: 5px;
}
.navbar__name {
  font-weight: bold;
}
.navbar__link {
  text-decoration: none;
  color: rgb(58, 58, 58);
  margin-left: 15px;
}
.navbar__link:hover {
  cursor: pointer;
  color: #cf181c;
}
.navbar__active {
  color: #b60407;
}
.navbar__list {
  display: flex;
  flex-direction: row;
}
.navbar__expand {
  display: none;
}

@media screen and (max-width: 420px) {
  .navbar__container {
    padding: 10px 20px;
  }
  .navbar__expand {
    width: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 5;
  }
  .navbar__active {
    color: #b60407;
  }
  .navbar__link {
    padding: 10px;
    margin-bottom: 5px;
    font-size: 17px;
  }
  .navbar__list {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    height: 100vh;
    background-color: #353535;
    background-color: white;
    z-index: 4;
    padding: 5em 2em 2em 2em;
  }
  .navbar__list.open {
    display: flex;
    animation-name: openNav;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
  }
  .navbar__list.close {
    display: flex;
    animation-name: closeNav;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    pointer-events: none;
    padding: 0;
  }
  .hideText {
    display: none;
  }
  .navbar__shadow {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.521);
  }
  .navbar__shadow.open {
    display: initial;
  }
}

@keyframes openNav {
  from {
    width: 0vw;
  }
  to {
    width: 85vw;
  }
}
@keyframes closeNav {
  from {
    width: 85vw;
  }
  to {
    width: 0vw;
  }
}
